/results/activity.html
/results/arrow-down.gif
/results/arrow-none.gif
/results/arrow-up.gif
/results/authors.html
/results/commits_by_author.dat
/results/commits_by_author.plot
/results/commits_by_author.png
/results/commits_by_year.dat
/results/commits_by_year.plot
/results/commits_by_year.png
/results/commits_by_year_month.dat
/results/commits_by_year_month.plot
/results/commits_by_year_month.png
/results/day_of_week.dat
/results/day_of_week.plot
/results/day_of_week.png
/results/domains.dat
/results/domains.plot
/results/domains.png
/results/files.html
/results/files_by_date.dat
/results/files_by_date.plot
/results/files_by_date.png
/results/gitstats.cache
/results/gitstats.css
/results/hour_of_day.dat
/results/hour_of_day.plot
/results/hour_of_day.png
/results/index.html
/results/lines.html
/results/lines_of_code.dat
/results/lines_of_code.plot
/results/lines_of_code.png
/results/lines_of_code_by_author.dat
/results/lines_of_code_by_author.plot
/results/lines_of_code_by_author.png
/results/month_of_year.dat
/results/month_of_year.plot
/results/month_of_year.png
/results/sortable.js
/results/tags.html
